

#backclrhead{

    background-color: grey;
    height: 25em;
}

#row1{

    padding-left: 15em;
    padding-top: 3em;
}

#h2{
    padding-top:em;
}

#send{

    width: 19em;
}


#navb{

    margin-top: 2em;
}