

.backimg{

    background-image: url(./malappuramimg/malappuram-kerala-tourism-entry-fee-timings-holidays-reviews-header.jpg);
    width: 110m;
    height: 40em;
    background-repeat: no-repeat;
}

.card-wrapper{

    display: flex;

}
.card{

    margin: 0.5em;
    width: calc(100%/3);
}

#card1{

    margin-top: -30em;
}

#kochi{

    padding-left: 5em;
    padding-top: 0.1em;
    font-weight: bolder;
    font-size: 80px;
    font-style: italic;
}