


#navb{

padding-top: 2em;
color: rgb(176, 109, 22);
    
}

#keralatou{

   margin-top: -19em;
   
}

/* .row{

   background-color: black;
   width: 7.1em;
   height: 7em;
} */


/* #keralatou{

   color: red;
   font-size: 80px;
   font-weight: bolder;
} */